.section {
  display: flex;
  background-color: white;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}

.memberships {
  margin: 0 auto;
  width: 80%;
  background-color: white;
}

h3 {
  text-align: center;
  color: #303132;
  font: 600 35px 'Poppins', 'Open Sans', 'Arial', sans-serif;
  line-height: 50px;
  letter-spacing: -0.7px;
}

h6 {
  padding-top: 10px;
  text-align: center;
  color: #203132;
  font: 500 16px 'Poppins', 'Open Sans', 'Arial', sans-serif;
  line-height: 26px;
}

p {
  padding-top: 20px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  color: #686868;
  font: 16px 'Poppins', 'Open Sans', 'Arial', sans-serif;
  line-height: 27.5px;
}

.apply-button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 50px;
  background-color: yellow;
  padding: 12px 25px;
  color: #686868;
}

.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  h6 {
    padding-top: 10px;
    font: 500 12px 'Poppins', 'Open Sans', 'Arial', sans-serif;
  }

  p {
    padding-left: 0%;
    padding-right: 0%;
  }
}
