.header {
  display: flex;
  justify-content: center;
  align-items: center !important;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slide-caption h1 {
  font-family: var(--font-display);
  font-size: 7vw;
  margin: 0;
}

.slide-caption h2 {
  font-family: var(--font-sans);
  font-size: 3.5vw;
  color: white;
}

.car-btn {
  border-width: 3px;
  background-color: rgba(255, 255, 255, 0.15);
  font-family: var(--font-display);
  font-size: 1.5em;
  width: 40%;
}

.header h1 {
  color: white;
}

.App_carousel {
  min-height: 100%;
}

.carousel {
  min-height: 100vh;
  max-height: 100vh;
}

.carousel-item img {
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .header button {
    font-size: 1rem;
  }
}
