.header-text {
  font-size: 1.5em;
}
.body-text {
  font-size: 1em;
  line-height: 100%;
}
.gradient_line {
  height: 4px;
  max-width: 20px;
  background: linear-gradient(to right, black, grey, white);
}

.btn-member {
  border-width: 3px;
  background-color: rgba(255, 255, 255, 0.15);
  font-family: var(--font-display);
  width: 40%;
  font-size: 1.25em;
}
.table {
  font-size: 1em;
}
th {
  font-size: 1.1em;
}
.header-table {
  color: black !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.btn-test {
  background-color: rgba(255, 255, 255, 0.15);
}
.table > tbody > tr > td {
  vertical-align: middle;
}
