:root {
  --bg_main: #000;
  --accent_main: #b4975a;
  --nav_bg: rgba(0, 0, 0, 0.6);
}

/*------------------------------------
- COLOR Gold
------------------------------------*/
.alert-Gold {
  color: #65532e;
  background-color: #f3efe6;
  border-color: #ede6d8;
}

.alert-Gold hr {
  border-top-color: #e5dbc6;
}

.alert-Gold .alert-link {
  color: #42361e;
}

.badge-Gold {
  color: #212529;
  background-color: #b4975a;
}

.badge-Gold[href]:hover,
.badge-Gold[href]:focus {
  color: #212529;
  background-color: #967c44;
}

.bg-Gold {
  background-color: #b4975a !important;
}

a.bg-Gold:hover,
a.bg-Gold:focus,
button.bg-Gold:hover,
button.bg-Gold:focus {
  background-color: #967c44 !important;
}

.border-Gold {
  border-color: #b4975a !important;
}

.btn-Gold {
  color: #212529;
  background-color: #b4975a;
  border-color: #b4975a;
}

.btn-Gold:hover {
  color: #212529;
  background-color: #a18449;
  border-color: #967c44;
}

.btn-Gold:focus,
.btn-Gold.focus {
  box-shadow: 0 0 0 0.2rem rgba(180, 151, 90, 0.5);
}

.btn-Gold.disabled,
.btn-Gold:disabled {
  color: #212529;
  background-color: #b4975a;
  border-color: #b4975a;
}

.btn-Gold:not(:disabled):not(.disabled):active,
.btn-Gold:not(:disabled):not(.disabled).active,
.show > .btn-Gold.dropdown-toggle {
  color: #212529;
  background-color: #967c44;
  border-color: #8c733f;
}

.btn-Gold:not(:disabled):not(.disabled):active:focus,
.btn-Gold:not(:disabled):not(.disabled).active:focus,
.show > .btn-Gold.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(180, 151, 90, 0.5);
}

.btn-outline-Gold {
  color: #b4975a;
  background-color: transparent;
  border-color: #b4975a;
}

.btn-outline-Gold:hover {
  color: #212529;
  background-color: #b4975a;
  border-color: #b4975a;
}

.btn-outline-Gold:focus,
.btn-outline-Gold.focus {
  box-shadow: 0 0 0 0.2rem rgba(180, 151, 90, 0.5);
}

.btn-outline-Gold.disabled,
.btn-outline-Gold:disabled {
  color: #b4975a;
  background-color: transparent;
}

.btn-outline-Gold:not(:disabled):not(.disabled):active,
.btn-outline-Gold:not(:disabled):not(.disabled).active,
.show > .btn-outline-Gold.dropdown-toggle {
  color: #212529;
  background-color: #b4975a;
  border-color: #b4975a;
}

.btn-outline-Gold:not(:disabled):not(.disabled):active:focus,
.btn-outline-Gold:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-Gold.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(180, 151, 90, 0.5);
}

.list-group-item-Gold {
  color: #65532e;
  background-color: #ede6d8;
}

.list-group-item-Gold.list-group-item-action:hover,
.list-group-item-Gold.list-group-item-action:focus {
  color: #65532e;
  background-color: #e5dbc6;
}

.list-group-item-Gold.list-group-item-action.active {
  color: #212529;
  background-color: #65532e;
  border-color: #65532e;
}

.table-Gold,
.table-Gold > th,
.table-Gold > td {
  background-color: #ede6d8;
}

.table-hover .table-Gold:hover {
  background-color: #e5dbc6;
}

.table-hover .table-Gold:hover > td,
.table-hover .table-Gold:hover > th {
  background-color: #e5dbc6;
}

.text-Gold {
  color: #b4975a !important;
}

a.text-Gold:hover,
a.text-Gold:focus {
  color: #967c44 !important;
}
