:root {
  --bg_main: #000;
  --accent_main: #b4975a;
  --nav_bg: rgba(0, 0, 0, 0.6);
  --facebook: #3a579a;
  --twitter: #00abf0;
  --instagram: #dd2a7b;
  --youtube: #c92228;
  --whatsapp: #27ae60;
  --text-muted: #aaa;
  --twitch: #9146ff;
}
.bg-nav {
  background-color: var(--nav_bg);
}
.bg-facebook {
  background-color: var(--facebook);
}
.bg-twitter {
  background-color: var(--twitter);
}
.bg-youtube {
  background-color: var(--youtube);
}
.bg-whatsapp {
  background-color: var(--whatsapp);
}
.bg-instagram {
  background-color: var(--instagram);
}
.bg-twitch {
  background-color: var(--twitch);
}
.app-text-muted {
  color: var(--text-muted);
}
