/* @import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap"); */

@import url("https://fonts.googleapis.com/css?family=BioRhyme&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin&display=swap");

:root {
  --font-display: "BioRhyme", serif;
  --font-sans: "Cabin", sans-serif;
}

th {
  font-family: var(--font-display);
}

.text-display {
  font-family: var(--font-display);
}
.text-sans {
  font-family: var(--font-sans);
}
